@CHARSET "UTF-8";

html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#container{
    background-color: #E0E4CC;
    min-height: 100%;
}

#header{
    height: 150px;
}

#content{
}

#loginLogo{
    max-width: 350px;
}

#loginForm{
    width: 262px;
    margin: 67px;
}

#loginForm input{
    display: block;
    width: 250px;
    padding: 5px;
    font-size: 25px;
    
    margin: 0px 0px 10px 0px;
    
    border: 1px solid #1C1811;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#loginForm input[type=submit]{    
    width: 85px;
    color: #FFF;
    padding: 2px;
    background-color: #FA6900;
    float: right;
}

input::-webkit-input-placeholder{
    color: #1C1811 !important;
}
input:-moz-placeholder{
    color: #1C1811 !important;
}
input:-ms-input-placeholder {
    color: #1C1811 !important;
}

#footer{
    background-color: #1C1811;
    min-height: 150px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#footer .section{
    padding: 10px;
    color: #E0E4CC;
}

#footer .section h2{
    padding-bottom: 5px;
}

#accountList ul{
    margin-left: 15px;
}

#accountList ul a{
    color: #A7DBD8;
}
}